.cardgroup-2 {
    left: 20% !important;
}

@media screen and (min-width: 1600px) {
    .cardgroup {
        left: 12% !important;
    }
    .cardgroup-2 {
        left: 24% !important;
    }
    .infgroup {
        position: relative;
        left: 10% !important;
    }
}

a {
    text-decoration: none;
}

.navc {
    color: white;
}

.navbar {
    background-color: #1e1e1e;
    height: 80px;
}

.imageposition_1 {
    position: relative;
    float: right;
    right: 550px;
    bottom: 40px;
}

.hfont {
    font-size: 25px;
    font-weight: 700;
}