div, .greet-section {
    position: relative;
    display: block;
}

.container {
    width: 1024px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.desc1 {
    margin-top: 4rem;
}

.desc1 h1 {
    font-size: 44px;
    font-weight: normal;
    line-height: 1.3em;
}

.desc1 p{
    font-size: 16px;
}

.greet-image-wrapper {
    bottom: 200px;
}

.greet-image-square {
    position: relative;
    left: 45rem;
    width: 250px;
    height: 125px;
    border: 8px solid #0290c0;
    z-index: 2;
}

.greet-image {
    position: relative;
    bottom: 6rem;
    left: 47rem;
    margin-bottom: -10rem;
    width: 247px;
    height: 157px;
    background-color: #ebebeb;
    background-image: url("../Images/greeting_image.png");
}