.auth-body {
    background-color: #1d212b;
}

.auth-page {
    position: relative;
    width: 1100px;
    height: 660px;
    top: 50%;
    left: 50%;
    box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, .6);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    z-index: 5;
}