/* .main_body > h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    display: inline;
} */
.page--gap .p-header h2 {
    font-weight: 700;
    display: inline;
}

.page--gap {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page--gap header {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.page--gap span {
    margin-left: 14px;
}

.partner_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.partner_content {
    width: 32%;
    min-height: 300px;
}

.card-image-bg {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #ebebeb;
    line-height: 150px;
    vertical-align: middle;
    cursor: pointer;
}

.partner-image {
    width: 160px;
    margin: auto;
}

.partner-image:hover {
    transform: scale(1.1,1.1);
    transition: 0.2s;
}

.asset-line-gray {
    background-color: #ccc;
}

.partner-cardtitle {
    font-weight: 700;
}

.partner-cardtext, .partner-cardtitle {
    letter-spacing: -.01em;
    font-size: 14px;
}