
.page--gap {
    padding-top: 80px;
    padding-bottom: 100px;
}

h3{
    font-size: 24px;
    font-weight: 700;
}

.reference_category {
    margin-top: -1rem;
    margin-left: -2.9rem;
    width: 100%;
}

.reference_category > li {
    margin: 15px;
    float: left;
}

ol, ul, li {
    list-style: none;
}

.category-active {
    color: #f53f39;
    font-weight: bold;
}

.category-active:hover {
    color: #f53f39;
}

.img-sizing {
    transform: scale(1,1);
    margin-top: 20px;
    transition: 0.2s;
}

.img-sizing:hover {
    transform: scale(1.3,1.3);
    transition: 0.2s;
}