.slick-prev::before,
.slick-next:before {
    color: black;
}

.slick-prev {
    left: 5% !important;
    z-index: 1;
}

.slick-next {
    right: 5% !important;
    z-index: 1;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e8e8e8;
    background-size: cover;
    background-position: center;
    transition: background-image 0.25s ease-in-out;
}

.slide0 {
    background-image: url("../Images/001.png");
}
.slide1 {
    background-image: url("../Images/002.png");
}
.slide2 {
    background-image: url("../Images/003.png");
}
.slide3 {
    background-image: url("../Images/004.png");
}
.slide4 {
    background-image: url("../Images/005.png");
}
.slide5 {
    background-image: url("../Images/006.png");
}

.item1style {
    position: relative;
    left: 200px;
    bottom: 0px;
    color: #333;
    font-size: 38px;
    font-weight: 500;
    z-index: 5;
}



.slider_cover {
    position: relative;
    width: 1024px;
    height: 100%;
}

.slider_cover p {
    line-height: 0.9;
}

.slider_item {
    position: relative;
    width: 1024px;
    height: 500px;
    float: left;
}

.slider_content {
    position: absolute;
    padding-left: 0;
    width: 99999px;
}